---
import { toast } from "wc-beru"
import icon from '../assets/wc-beru.svg'
---

<div class="container">
	<header class="hero">
		<figure class="hero-brand">
			<img src={icon.src} alt="wc-beru icon" width="100">
		</figure>
		<h1 class="hero-title">wc-beru</h1>
		<p class="hero-author">Created by <a href="#">@alamguardin</a></p>
		<p class="hero-description">Beautiful and accessible toasts web component.</p>
		<div class="hero-actions">
			<button role="button" class="hero-btn-dark">Show toast</button>
			<a href="#" role="button" class="hero-btn-light">Documentation</a>
		</div>
	</header>
</div>

<style>
	.container {
		margin: auto;
		max-width: 800px;
		width: 100%;
	}

	.hero {
		margin: 6rem;
		text-align: center;
	}

	.hero-title {
		font-size: 4rem;
		color: var(--fg-title);
	}

	.hero-author {
		font-size: 0.875rem;
		color: var(--fg-title);
	}

	.hero-author a {
		text-decoration: none;
		color: var(--fg-link);
	}

	.hero-description {
		margin: 48px 0 28px 0;
	}

	.hero-btn-dark, .hero-btn-light {
		font-family: 'Inconsolata', 'Courier New', Courier, monospace;
		display: inline-block;
		padding: 0.75rem 1.5rem;
		font-size: 0.875rem;
		text-decoration: none;
		border-radius: 0.5rem;
		cursor: pointer;
		transition: .2s all ease;
	}

	.hero-btn-dark:hover, .hero-btn-light:hover {
		translate: 0 -0.25rem;
	}


	.hero-btn-dark:active, .hero-btn-light:active {
		scale: 0.95;
	}

	.hero-btn-dark {
		background: var(--bg-button-dark);
		color: var(--fg-button-dark);
		border: none;
	}

	.hero-btn-light {
		background: var(--bg-button-light);
		color: var(--fg-button-light);
	}
</style>
